http {
    server {
        listen 80;
        server_name _;

        location / {

            # The document root path.
            root /etc/nginx/html;

            # Files that will be used as index.
            index index.html index.htm;
            try_files $uri $uri/ /index.html;
        }
    }
}